.App {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background: rgb(211, 211, 211);
    height: 100vh;
  }
  button,
  button:focus,
  button:active,
  button:default {
    cursor: pointer;
    font-size: 1.6rem;
    color: #3b4d61;
    border: none;
    background: #fff;
    padding: 5px;
    margin: 5px;
    box-shadow: 5px 5px 5px #3b4d61;
    transition: 0.3s all ease-in-out;
  }
  .pr {
    padding-right: 20px;
  }
  .d-flex {
    display: flex;
    justify-content: space-between;
  }
  button:hover {
    background: #282c34;
    color: #fff;
    box-shadow: 3px 3px 3px #3b4d61;
    transition: 0.3s all ease-in-out;
  }